#page_entreprise h2{
     text-align: left;
}
.stats_account{
     text-align: left!important;
     padding:10px;
}

.stats_account h2{
     color:#fff;
}

.tabs_account button{
     text-transform: uppercase;
     padding:0;
}

.tabs_account:active{
     color:#6610f2;
}