#page_entreprise h2{
     text-align: left;
}
.stats_account{
     text-align: left!important;
     padding:10px;
}

/* .stats_account table{
     width:100%;
} */

.stats_account h2{
     color:#fff;
}

.tabs_account button{
     text-transform: uppercase;
     padding:0;
}

.tabs_account:active{
     color:#6610f2;
}

#progress_bar{
     width: 100%!important;
     background: #6610f2;
     border-radius: 10px;
     text-align: right;
     padding: 5px;
}

#progress_bar p{
     margin-bottom:0px;
}