#page_entreprise h2{
     text-align: left;
}
.stats_account{
     padding:10px;
     text-align: left!important;
}

.stats_account h2{
     color:#fff;
}

.tabs_account button{
     padding:0;
     text-transform: uppercase;
}

.tabs_account:active{
     color:#6610f2;
}

#progress_bar{
     background: #6610f2;
     border-radius: 10px;
     padding: 5px;
     text-align: right;
}

#progress_bar p{
     margin-bottom:0px;
}