#page_viewall{
    margin-top: 9vh;
    margin-left: 20vw;
    width:80vw;
}
 
#page_viewall h2{
    color:#333;
    text-align: left;
    margin-top:30px;
}

.fst_col{
    width:40%;
}

.fst_col p{
    text-transform: lowercase;
    line-height: 1.3em;
    padding: 5px 0px 5px 0px;
}

.customer_card_all{ 
     margin-top:100px;
}

.customer_card_all table h2{
     margin-top:0px!important;
}

@media screen and (max-width:756px) and (orientation: portrait) {
     #page_viewall{
          margin-top: 9vh;
          margin-left: 0px;
          width: 90vw;
     }

     .mobile{
          display:block;
      }
  
      .hide_mobile{
          display:none;
      }

      .client_list{
          margin: auto;
          text-align: center;
          width: 25vw;
      }
  
      .col_mobile_badge{
          vertical-align:top;
          min-width:60px;
          margin-right:10px;
          background: linear-gradient(90deg, rgba(255,255,255,0.34919905462184875) 48%,
                                             rgba(231,231,231,1) 50%,
                                             rgba(255,255,255,0) 52%);
      }

      .col_right_descr{
          padding-left: 15px;
      }
  
      .title_of_task{
          text-align: left;
          font-weight: 600;
      }
  
      .tasks{
          font-size:12px;
          font-weight: 300;
          font-style: italic;
          margin-top: 10px;
          margin-bottom: 30px;
          width: auto;
          text-align: justify;
      }
  
      .dateoftask{
          text-align: left;
          line-height: 3em;
      }

      .time{
          text-align:left;
          line-height: 3em;
      }
  }