.fst_col{
    width:40%;
}

.fst_col p{
    text-transform: lowercase;
    line-height: 1.3em;
    padding: 5px 0px 5px 0px;
}

.customer_card_all{ 
     margin-top:100px;
}

.customer_card_all table h2{
     margin-top:0px!important;
}

/**********************************/
/*** Tableau tableauTS récentes ***/

.tableauTS{
    margin-bottom:50px;
    background: #fafafa;
}

#list_all_tasks p{
    text-align:left;
}

#list_all_tasks .last-child {
    text-align: right;
    width: 100px;
    padding: 20px 0px;
}

#list_all_tasks .col_duree{
    width:100px;
}

.tableauTS table td {
    font-size: .8em;
    vertical-align: top;
    text-align: justify;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.line_task{
    border-bottom:1px solid #ddd;
}

.btn_ts_bottom{
    background: #949494;
    border: 2px solid;
    border-radius: 10px;
    color: #fff!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
    letter-spacing: 2px;
    padding: 2px 20px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    height: 35px;
}

.btn_ts_bottom:hover,
.btn_ts_bottom:focus{
    border: 2px solid #fff!important;
    color: #fff!important;
    background: #6610f2;
}

/*********************************/
/***** Timesheet ******/

.timesheet {
    width: 100%;
    height: auto;
    margin-left:0px;
}

.timesheet li {
    list-style-type: none;
}

.col__timeToUse{
    width:200px;
}

.allowed_time{
    text-align: center!important;
    background: #6610f2;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    border-radius: 7px;
}

.date_creation{
    font-size:12px;
}

.timesheet thead {
    border-bottom: 1px solid #eee;
    line-height: 1em;
}

.timesheet tr {
    line-height: 1em;
}

.timesheet .time_hrs_right {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

#modal_desktop{
    width: 50vw;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    margin-top: 5vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}

/* Tableau tâches*/

.title_of_task{
    width: 140px;
}

.title_of_task p{
    text-align: left!important;
    font-weight: 600;
}

.tasks__descr{
    padding: 10px 30px;
    width: 450px;
}

.tasks__descr p{
    text-align: justify;
}

.agent__{
    text-align:left;
}

.time_spend{
    text-align:right;
}

.timesheet .btn_ts_bottom{
    width: 100px;
}

.detail_TS{
    width: 100%;
}

.detail_TS p{
    text-align:left;
    font-size: 12px;
}

.detail_TS .tasks{
    text-align:justify;
}

.close_modale{
    border-radius: 5px;
    border: none;
    width: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    float:right;
}

.detail_TS .developer{
    width:45px;
}

#modal_mobile{
    display: none;
}

.descr__prjt{
    text-align: justify;
    font-size: 12px;
    line-height: 1.5em;
}

.right_tabs--close_modale{
    vertical-align: top;
}

.assigned_to{
    background: none;
    color: #6610f2;
    text-align: left;
    border: none;
    font-size: .56rem;
}

.AllProjet_box{
    overflow: scroll;
    height: 310px;
    margin: 0;
    padding: 20px 10px;
    box-shadow: inset 1px -3px 10px 0px rgb(0 0 0 / 19%);
    border-radius: 13px;
}

.filter_admin{
    margin-left:0;
    padding-left:0;
}

.list_all_tasks .line_task .failed,
.list_all_tasks .line_task .success,
.list_all_tasks .line_task .inProgress{
    margin:0!important;
    width:130px;
    font-size: 0.7rem;
    padding: 5px 15px;
}

/******************/

@media screen and (max-width:756px) and (orientation: portrait) {

    .mobile{
        display:block;
    }
  
    .hide_mobile,
    .tableauTS,
    .list_all_tasks{
        display:none;
    }

    .customer_card_all,
    .tableauTS,
    .tableauTS table,
    .list_all_tasks,
    .mobile{
        padding:0;
    }

    .title_of_task {
        width: 20vw;
    }

    .client_list{
        margin: auto;
        text-align: center;
        width: 25vw;
    }
  
    .col_mobile_badge{
        vertical-align:top;
        min-width:60px;
        margin-right:10px;
        background: linear-gradient(90deg, rgba(255,255,255,0.34919905462184875) 48%,
                                             rgba(231,231,231,1) 50%,
                                             rgba(255,255,255,0) 52%);
    }

    .project_sidebar{
        display:none;
    }

    .col_right_descr{
        padding-left: 15px;
    }
  
    .tasks{
        font-size:12px;
        font-weight: 300;
        font-style: italic;
        margin-top: 10px;
        margin-bottom: 30px;
        width: auto;
        text-align: justify;
    }
  
    .dateoftask{
        text-align: left;
        line-height: 3em;
    }

    .time{
        text-align:left;
        line-height: 3em;
    }

    .navbar_col_d,
    .navbar_col_g{
        width:50%;
        display:inline-block;
    }

    .navbar_col_d label,
    .navbar_col_g label{
        display: none;
    }
}