#projet_chatbox ul{
     list-style: none;
}

#projet_chatbox li{
     width: 30vw;
     
}

.receiver{
     background-color: rgb(84, 84, 84);
     border: 1px solid gray;
     color:#fff;
}

.sender{
     background-color: rgb(196, 162, 255);
     border: 1px solid rgb(172, 21, 247);
     color:#fff;
}