#page_chatbox ul{
     list-style: none;
}

#page_chatbox ul li{
     color:rgb(90, 90, 90);
     text-align: left;
     max-width: 30vw;
     width: 30vw;     
}

#page_chatbox ul .contentMessage{
     color:#fff;
     margin-bottom: 20px;
     border-radius: 5px;
     padding: 5px 20px;
}

#page_chatbox ul .receiver .contentMessage {
     background-color: rgb(84, 84, 84);
     border: 1px solid gray;
}

#page_chatbox ul .sender{
     margin-left:auto;
     margin-right:0;
     text-align: right;
}

#page_chatbox ul .sender .contentMessage{
     background-color: rgb(196, 162, 255);
     border: 1px solid rgb(172, 21, 247);

}

.input_newMess{
     border:1px solid rgb(179, 179, 179);
     min-height: 15vh;
     text-align: justify;
     border-radius: 5px;
}

#page_chatbox button[type=submit] {
    width: 4vw;
    height: 5vh;
    color: #fff;
    margin-top: 0;
    border: 1px solid;
    border-radius: 10px;
    background: #6610f2;
}

#page_chatbox .chat_Window{
     max-height: 70vh;
     height: 70vh;
     overflow: scroll;
}

#page_chatbox .input_field{
     width:90%;
}

#page_chatbox .submit_mess{
     vertical-align: top;
}

.bdg_count{
     color: #fff;
    background-color: red;
    aspect-ratio: 1;
    line-height: 30px;
    font-size: 0.7em;
    border-radius: 15px;
    padding: 3px 6px;
    position: relative;
    top: -13px;
    right: 10px;
}