#adminForm .mobile{
     display:none;
}

#DemandeForm{
     width:45vw!important;
}

.illu_prjt{
     width:20vw;
     float:right;
}

@media screen and (max-width:756px) and (orientation: portrait) {
     #adminForm .mobile{
          display:block;
     }

     #adminForm .mobile li{
          display:inline-block;
     }

     .illu_prjt{
          width:50vw;
          float:inherit;
          margin-top:60px;
     }

     #DemandeForm .mobile{
          margin-top:50px;
     }

     #DemandeForm .mobile ul{
          display:inline-flex;
          padding: 0;
          margin:0;
          margin-top:20px;
          margin-bottom:50px;
          margin-left:-20px;
     }

     #DemandeForm .mobile li{
          width: 30vw;
          text-align: center;
     }

     #DemandeForm .mobile button{
          width: 30vw;
          text-align: center;
     }

     #DemandeForm #timesheetForm{
          width:auto!important;
     }

     #DemandeForm .s-sidebar__nav{
          display:none;
     }


 }