#adminForm .mobile{
     display:none;
}

#adminForm{
     width:45vw!important;
}

.illu_prjt{
     width:20vw;
     float:right;
}

@media screen and (max-width:756px) and (orientation: portrait) {
     #adminForm .mobile{
          display:block;
     }

     #adminForm .mobile li{
          display:inline-block;
     }

     .illu_prjt{
          width:50vw;
     }
 }