#adminForm .mobile{
     display:none;
}

#DemandeForm{
     width:45vw!important;
}

.illu_prjt{
     float:right;
     width:20vw;
}

@media screen and (max-width:756px) and (orientation: portrait) {
     #adminForm .mobile{
          display:block;
     }

     #adminForm .mobile li{
          display:inline-block;
     }

     .illu_prjt{
          float:inherit;
          margin-top:60px;
          width:50vw;
     }

     #DemandeForm .mobile{
          margin-top:50px;
     }

     #DemandeForm .mobile ul{
          display:inline-flex;
          margin:20px 0px 50px -20px;
          padding: 0;
     }

     #DemandeForm .mobile li{
          text-align: center;
          width: 30vw;
     }

     #DemandeForm .mobile button{
          text-align: center;
          width: 30vw;
     }

     #DemandeForm #timesheetForm{
          width:auto!important;
     }

     #DemandeForm .s-sidebar__nav{
          display:none;
     }
}