#page_faq{
     width: 80vw;
     margin-left:15vw;
     margin-top:9vh;
 }

 .title_accordeon, .accordion-button{
     color:#190933;
     background: #ffffff;
 }
 
 @media screen and (max-width:756px) and (orientation: portrait) {
     #page_account{
         width: 90vw;
         margin-left:0px;
         margin-top:9vh;
     }
 }