#page_account{
    width: 80vw;
    margin-left:15vw;
    margin-top:9vh;
}

.account_section {  
    background:#fff;
    border-radius: 10px;
    padding: 20px;
}

.Profil {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.tabs_account{
    text-align: left;
}

.tabs_account button{
    font-weight: 500;
    font-size: 1.2rem;
    background: none;
    border: none;
    padding: 5px 20px;
    margin-bottom: 50px;
}

.tabs_account button:last-child{
    border:none;
}

.tabs_account button:active{
    color: #06f8b8;
}

.Profil .bold {
    font-weight: 600;
}

.clear {
    clear: both;
}

.delete_account {
    margin-top: 30px;
}

.delete_account table {
    width: 100%;
}

.delete_account td {
    text-align: left;
}

.my_contact{
    background: #ededed;
    padding: 25px;
    border-radius: 15px;
    color: #190933;
}

.my_contact ul {
    padding: 0px!important;
}

.my_contact li {
    font-size: 12px;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    list-style: none;
}

.my_contact .mail {
    font-weight: 200;
    font-style: italic;
    font-size: 11px;
}

.my_contact table {
    width: 100%;
}

.btn_mail {
    color: rgb(82, 82, 82);
    font-size: 30px;
    text-align: right!important;
}

.btn_mail:hover,
.btn_mail:focus {
    color: #0D2A1D;
}

.title_accordeon, .accordion-button{
    color:#190933;
    background: #C8B6F2;
}


@media screen and (max-width:756px) and (orientation: portrait) {
    #page_account{
        width: 90vw;
        margin-left:0px;
        margin-top:9vh;
        margin-bottom: 20vh;
    }

    .my-contact{
        margin-top:50px;
    }
}