#page_inscription .container {
    background: #fafafa!important;
    min-height: 100vh;
    min-width: 100vw!important;
}

.inscription_form {
    padding-top: 20vh;
}

.inscription_form h1 {
    color: #fff;
    text-align: center;
}

#inscForm {
    background: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #ffffff9b;
    margin: auto;
    min-height: 30vh;
    padding: 40px;
    width: 50vw;
}

.inscription_form a {
    color: #6610f2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#inscForm label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
    min-width: 100%;
}

#inscForm input[type="text"],
#inscForm input[type="password"],
#inscForm input[type="email"] {
    border: none;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px #BDE5F4;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 10px;
    padding: 5px 20px;
    text-align: left;
}

#inscForm input[type="submit"] {
    background: #6610f2;
    border: 2px solid #6610f2;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    min-width: 60%;
    text-align:center;
    text-transform: uppercase;
}

#inscForm input[type="submit"]:hover,
#inscForm input[type="submit"]:focus {
    background: #fff;
    color: #6610f2;
    border: 2px solid #6610f2;
}

.thx_message{
    background: white;
    border-radius: 25px;
    margin: auto;
    padding: 50px;
    width: 40vw;
}

.thx_message h1{
    background: none;
    margin-bottom: 50px;
    text-transform:none;
}

.thx_message a{
    background: #6610f2;
    border-bottom: 4px solid #3f0b94;
    border-radius: 10px;
    margin-top: 80px;
    padding: 10px 30px;
    text-decoration: none;
}