/***** Statistiques ******/

.stats h2{
    color:#fff;
}
 
.stats p {
    font-size:11px;
    margin-bottom: 0;
}
 
.CircularProgressbar {
    margin-bottom: 40px;
    margin-top: 20px;
}

.stats{
    background:#fff;
    background-color: #12032c;
    border-radius: 15px;
    bottom: 5px;
    font-size: 10px;
    height: auto;
    left: 5px;
    margin: 10px;
    padding: 20px 30px;
    position: absolute;
    right: 5px;
 }