h1 {
    font-family: 'Lato';
    text-align: left;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400!important;
    color: #444;
}

#page_boutique{
    padding-top:9vh;
    width: 80vw!important;
    margin-left:20vw;
    box-shadow: 5px 5px 10px #BDE5F4;
    border-radius: 10px;
    padding: 20px;
}

.product-fiche{
    width: 30%;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 7px 6px 9px 0px rgb(132 131 147 / 32%);
    float:left;
    margin-left: 3%;
}

.product-fiche h2{
    color: #6610f2;
    font-size: 18px!important; 
}

.product-fiche p {
    color: #bbb;
    text-align: left;
    padding: 20px 0px;
}

.product-fiche .price{
    color: #6610f2;
    font-size: 24px;
    font-weight: 800;
}

.product-fiche .button-credits{
    background: #6610f2;
    border-bottom: 4px solid #5012b6;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
}

.product-fiche .button-credits:hover,
.product-fiche .button-credits:focus{
    background: #fff!important;
    color: #6610f2!important;
    border-bottom: 0px!important;
    border: 3px solid #6610f2!important;
}