#page_boutique{
    padding-top:9vh;
    width: 80vw!important;
    margin-left:15vw;
    /*box-shadow: 5px 5px 10px #BDE5F4;*/
    border-radius: 10px;
    padding: 20px;
    margin-top:9vh;
}

.product_fiche{
    width: 30%;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 7px 6px 9px 0px rgb(132 131 147 / 32%);
    display:inline-block;
    margin-left: 3%;
}

.product_fiche h2{
    color: #6610f2;
    font-size: 18px!important; 
}

.product_fiche p {
    color: #bbb;
    text-align: left;
    padding: 20px 0px;
}

.product_fiche .price{
    color: #6610f2;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

.product_fiche .button-credits,
#catchow .btn_to_agc{
    background: #6610f2;
    border-bottom: 4px solid #5012b6;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
}

.product_fiche .button-credits:hover,
.product_fiche .button-credits:focus,
#catchow .btn_to_agc:hover,
#catchow .btn_to_agc:focus {

    background: #fff!important;
    color: #6610f2!important;
    border-bottom: 0px!important;
    border: 3px solid #6610f2!important;
}

.pdt_highlight{
    margin-top:-20px;
}

#catchow{
    margin-top: 80px;
    text-align: left;
    background: #eee;
    padding: 30px;
}

#catchow h2{
    color: #333;
}

#catchow .col-gch{
    display:inline-block;
    vertical-align: top;
    margin-top: 20px;
}

#catchow p{
    margin-bottom: 60px;
}

#catchow .col-gch a{
    color:#6610f2;
}

#catchow .btn_to_agc{
    color:#fff!important;
}

#catchow img{
    display:inline-block;
    width: 20%;
    margin-top: -20px;
    margin-left: 180px;
}

@media screen and (max-width:756px) and (orientation: portrait){

    #page_boutique{
        width: 100vw!important;
        margin-left:0vw;
        /*box-shadow: 5px 5px 10px #BDE5F4;*/
        border-radius: 10px;
        padding: 20px;
        margin-top:9vh;
    }

    .product_fiche{
        width: 100%;
        background: #fff;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 7px 6px 9px 0px rgb(132 131 147 / 32%);
        display: block;
        margin-top:5%;
        margin-left: 0px;
    }

    #catchow .col-gch,
    #catchow img{
        display: block;
        margin-top: 20px;
    }

    #catchow img{
        width: 70%;
        margin:auto;
    }

    .resume{
        margin:auto!important;
    }
    
}