#page_Report td{
     max-width: 10vw;
     min-width: 10vw;
}

.card_Report{
     background:#eee;
     margin:15px 7px;
     padding:5px 15px;
     text-align: justify!important;
     vertical-align: top!important;
}

.Lundi,
.Mardi,
.Mercredi,
.Jeudi,
.Vendredi{
     line-height: .7em;
     text-align: justify!important;
     vertical-align: top!important;
}

.nav_planner{
     margin-top:20%;
 }
 
 .nav_planner .btn{
     background-color: #6610f2;
     border-color: 1px solid #6610f2;
     color: #fff;
 }
 
 .nav_planner .btn:hover{
     background-color: #150331;
     border-color: 1px solid #fff;
     color: #fff;
 }