#page_facture{
    padding-top:9vh;
    min-width: 80vw;
    margin-left:20vw;
}

.facture_section {
    box-shadow: 5px 5px 10px #BDE5F4;
    border-radius: 10px;
    padding: 20px;
}

table {
    width: 100%;
}

table th {
    font-size: 14px;
    text-align: left;
}

table th:nth-child(2),
table th:last-child {
    text-align: center;
}

.facture_section a {
    font-size: .7em;
    border: none;
    background: #6610f2;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
}

.facture_section a:hover {
    background: #fff;
    color: #6610f2;
    border: 2px solid #6610f2;
}

.PDF_ddl {
    padding: 5px 30px;
}