/* Init CSS */

.resume,
.stats,
.tableauTS,
.timesheet {
    background:#fff;
    border-radius: 15px;
    height: auto;
    margin: 10px;
    padding: 20px 30px;
}

.stats{
    background-color: #12032c;
    bottom: 5px;
    font-size: 10px;
    left: 5px;
    padding: 10px;
    position: absolute;
    right: 5px;
}


/***********************/
/***** Panel User ******/

.date_badge{
    aspect-ratio: 1;
    background: #6610f2;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4em;
    max-height: 40px;
    padding: 5px;
    text-align: center!important;
    vertical-align: middle;
    width: 40px;
}

/*************************/
/***** Statistiques ******/

.stats h2{
    color:#fff;
}

.stats p {
    font-size:11px;
    margin-bottom: 0;
}

.CircularProgressbar {
    margin-bottom: 40px;
    margin-top: 20px;
}

/**********************************/
/*** Tableau tableauTS récentes ***/

.tableauTS{
    background: #fafafa;
    margin-bottom:50px;
}

.descr__thead{
    font-size: 12px;
    margin-bottom: 0;
}

.task_table{
    text-align: left;
}

.tableauTask{
    background:#fff;
}

.tableauTask .last-child {
    text-align: right;
    width: 200px;
}

.tableauTS table td {
    font-size: .8em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: justify;
}

.stats p{
    color:#fff;
}

.tableauTS a {
    background: rgba(43,43,43,0.5);
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: .7em;
}

.tableauTS a:hover {
    background: #fff;
    border: 2px solid #6610f2;
    color: #6610f2;
}

.tableauTS button:hover,
.tableauTS button:focus {
    background: #fff;
    border: 2px solid #6610f2;
    color: #6610f2;
}

.btn_ts_bottom{
    background: #949494;
    border: none;
    border-bottom: 4px solid #5f5f5f!important;
    border-radius: 10px;
    color: #fff!important;
    font-size: 11px;
    height: 35px;
    letter-spacing: 2px;
    padding: 2px 20px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn_ts_bottom:hover,
.btn_ts_bottom:focus{
    border: 2px solid #6610f2!important;
    color: #6610f2!important;
}

/*********************************/
/***** Timesheet ******/

.timesheet {
    height: auto;
    margin-left:0;
    width: 100%;
}

.timesheet h2 {
    text-align: left;
}

.timesheet li {
    list-style-type: none;
}


.col__timeToUse{
    width:200px;
}

.allowed_time{
    background: #6610f2;
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    text-align: center!important;
}

.date_creation{
    font-size:12px;
}

.timesheet table {
    width: 100%;
}

.timesheet thead {
    border-bottom: 1px solid #eee;
    line-height: 1em;
}

.timesheet tr {
    line-height: 1em;
}

.timesheet .time_hrs_right {
    color: #444;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

#desktop{
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
    margin: auto;
    margin-top: 5vh;
    padding: 20px;
    width: 50vw;
}

.agent__{
    text-align:left;
}
.time_spend{
    text-align:right;
}

.detail_TS p{
    font-size: 12px;
    text-align:left;
}

.detail_TS .date_badge{
    font-size: 12px;
    margin-left: auto;
    margin-right: 0;
}

.detail_TS .tasks{
    text-align:justify;
}

.close_modale{
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    width: 25px;
}

.detail_TS .developer{
    width:45px;
}

.mobile{
    display: none;
}

.descr__prjt{
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
}

/* Responsive tablet */

@media (min-width:756px) and (max-width:1480px) {
    #page_dashboard {
        margin-left: 200px;
    }
}


/* Responsive Mobile */
/*********************/

@media screen and (max-width:756px) and (orientation: portrait) {

    #page_dashboard{
        margin: auto!important;
        width: 90vw!important;
    }
    
    .resume,
    .stats,
    .tableauTS,
    .timesheet {
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(189, 229, 244, 0.4);
        height: auto;
        margin-bottom: 30px;
        min-width: 80vw;
        padding: 30px 10px;
    }

    .resume{
        box-shadow: none;
    }

    .resume h1{
        font-size: 2em!important;
    }

    /***** Timesheet ******/
    .timesheet {
        margin-bottom: 200px;
        height: auto;
        width: 100%;
    }

    #desktop{
        display:none;
    }

    .mobile{
        display:block;
    }

    .hide_mobile{
        display:none;
    }

    .col_mobile_badge{
        background: linear-gradient(90deg, rgba(255,255,255,0.34919905462184875) 48%,
                                           rgba(231,231,231,1) 50%,
                                           rgba(255,255,255,0) 52%);
        margin-right:10px;
        min-width:60px;
        vertical-align:top;
    }

    .title_of_task{
        font-weight: 600;
        text-align: left;
    }

    .tasks{
        font-size:12px;
        font-style: italic;
        font-weight: 300;
        margin-top: 20px;
        text-align: justify;
        width: auto;
    }

    .dateoftask{
        line-height: 3em;
        text-align: left;
    }
}

.modal__newTask #timesheetForm{
    background: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 70%);
    margin: auto;
    padding: 20px;
}

.modal__newTask .s-sidebar__nav{
    display:none;
}

.first_col_pjt{
    width:60px;
}