.App {
    font-family: 'Lato','Manjari', arial!important;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    align-items: center;
    color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin)!important;
    color: #282c34!important;
}

.main__content{
    width: 75vw!important;
    margin-left: 20vw!important;
    margin-top: 9vh!important;
}

.App-link {
    color: #6610f2;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

table{
    min-width: 300px;
    width:100%;
}

/******** TEXTE - TITRE - LABEL ********/ 

    h1{
        text-align: left;
        font-size: 24px!important;
        font-weight: 400!important;
        line-height: 29px!important;
        border-radius: 10px;
        color: #6610f2;
        font-style: normal;
        letter-spacing: 0.3em;
        text-transform: uppercase;  
    }

    h2{
        color: #363636;
        font-style: normal;
        font-weight: 700!important;
        font-size: 14px!important;
        line-height: 17px!important;
        letter-spacing: 0.3em;
        text-transform: uppercase;
    }

    h3{
        color: #D7D7D7;
        font-style: normal;
        font-size: 12px!important;
        font-weight: 400!important;
        line-height: 15px!important;
        letter-spacing: 0.3em;
    }

    p {
        font-size: 12px;
    }

    label{
        color: #000000;
        font-family: 'Poppins';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        margin-top: 20px;
        text-align: left;
        width:100%;
    }
/****** FIN TEXTE - TITRE - LABEL ******/
/*************** BOUTONS ***************/
    .btn {
        font-style: normal;
        font-weight: 400!important;
        font-size: 10px!important;
        width: 180px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        border-radius: 5px!important;
    }

    .btn:hover {
        background-color: #6610f2;
        border-color: none;
        color: #fff;
    }

    .primary_btn{
        color: #6610f2!important;
        background: none;
        border: 1px solid #6610f2!important;
    }

    .primary_btn:active{
        background: #6610f2;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .details_btn{
        background:#D1D1D1;
        border: 1px solid #D1D1D1;
        color:#acacac;
        text-transform: capitalize;
    }

    .details_btn:active{
        background-color: #6610f2;
        border: 1px solid #6610f2;
    }

    .alert_btn{
        background: linear-gradient(88.47deg, #FF2E2E 0.92%, #D01C1C 99.06%);
        border-radius: 101.5px;
    }

    .disabled{
        background: #F0F0F0!important;
        border: 1px solid #D1D1D1!important;
        color:#D1D1D1!important;
    }

    .noborder{
        background: none;
        border: none;
        color:#acacac;
        text-align: left;
    }

    .active{
        background: #6610f2;
        color:#fff;
    }

    .bold{
        font-weight: 600;
    }

    .dts_client{
        aspect-ratio: 1;
        background: #eee;
        border: 1px solid;
        border-radius: 20px;
        color: #aaaa;
        width: 35px;
    }

    #page_CRM #modal_desktop p,
    #page_CRM #modal_desktop h2{
        text-align:left;
    }
    
    .failed{
        background: #ffd3d3;
        border: 1px solid red;
        border-radius: 3px;
        color: red;
        text-align: center!important;
        width: 50%;
    }

    .new{
        background: #bcbcbc;
        border: 1px solid rgb(85, 85, 85);
        border-radius: 3px;
        color: rgb(85, 85, 85);
        text-align: center!important;
        width: 50%;
    }

    .inProgress{
        background: rgb(253, 213, 139);
        border:1px solid orange;
        border-radius: 3px;
        color:orange;
        text-align: center!important;
        width: 50%;
    }

    .succeed{
        background: #d4fff5;
        border: 1px solid #00ffc3;
        border-radius: 3px;
        color: #00f8bd;
        font-weight: 800;
        text-align: center!important;
        width: 50%;
    }

    .delete{
        aspect-ratio: 1;
        border-radius: 25px;
        max-width: 35px;
        padding: 2px 7px;
        text-align: center!important;
    }

    .delete svg{
        font-size: 20px;
    }

    .delete:hover{
        background-color: red;
        color:#fff;
    }

/***********************/
/***** Badge User + Badge Date ******/

.date_badge,
.bdg_user{
    aspect-ratio: 1;
    background: #6610f2;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size:20px;
    font-weight: 500;
    line-height: 1em;
    max-height: 40px;
    padding: 5px 8px;
    text-transform: uppercase;
    vertical-align: middle;
}

.date_badge{
    border-radius: 10px;
    text-align:left!important;
}

.bdg_user{
    border-radius: 20px;
    float:left;
    margin-left: -3px;
    text-align: center!important;
}

/*************************/
/* Sidebar */
.project_sidebar{
    top: 0;
    width: 220px!important;
    height: 100vh;
    background: #fafafa;
    font-size: 14px!important;
    left: 64px;
    list-style: none;
    padding-top: 100px;
    position: fixed;
    text-align: left;
    text-decoration: none;
}

.project_sidebar ul{
    list-style: none;
    padding-left: 1em;
}

.project_sidebar li{
    margin-bottom: 10px;
}

.modal__newTask{
    background: rgba(0,0,0,.35);
    border-radius: 0;
    height: 100vh;
    left: 0;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999999;
}

.modal__newTask .project_sidebar{
    display: none!important;
}

/* Default CSS - FORM */

input,
textarea,
select{
    border:none;
    border-radius: 5px;
    color:rgb(97, 97, 97);
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    width:100%;
}

textarea{
    background:#f8f8f8;
    min-height: 150px;
}

input:hover{
    background: #e0e0e0;
    cursor:pointer;
}

input[type="submit"]{
    background-color: #6610f2;
    border: none;
    border-radius: 5px;
    color:#fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 6px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: #fff;
    color:#6610f2;
    text-align: center;
}

input[type="reset"]{
    margin-right:10%;
    text-align:center;
    width:45%;
}

form #title{
    border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
}

/** Required + Disabled **/

.required{
    color:red;
    font-size: 12px;
}

svg {
    font-size: 15px;
    color:currentColor!important;
    stroke: currentColor!important;
    vertical-align: middle;
}

#TblClients tr,
#TblClients td{
    vertical-align: middle;
}

#TblClients td p{
    margin-bottom: 0!important;
}
/*********** FIN CSS FORM *************/
/**************************************/

@media screen and (max-width:756px) and (orientation: portrait) {
    .project_sidebar{
        display:none;
    }
}

.stats_account,
.stats{
    background:#160531;
    border-radius: 15px;
    color:#fff;
    width: 100%;
}
