.App {
    text-align: center;
}

*{
    font-family: 'Poppins','Manjari', arial;
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    /*background-color: #fafafa;*/
    color: #282c34;
}

.container{
    width:80vw;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/******* DEFAULT CSS *******/


/* BOUTONS */
.btn {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;

    letter-spacing: 0.2em;
    color: #F2F2F2;
}

.primary_btn{
    background: linear-gradient(86.86deg, #31C596 15.53%, #00FFBC 93.95%);
    border-radius: 50px;
}

.primary_btn:hover{
    background: #fff;
    border: 1px solid #3FB58F;
    border-radius: 101.5px;

    color: #7B72EF;
}

.alert_btn{
    background: linear-gradient(88.47deg, #FF2E2E 0.92%, #D01C1C 99.06%);
    border-radius: 101.5px;
}

.links_btn,
.client_list {
    color: #06f8b8;
    background: none;
    border: 1px solid;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 6px;
    width: 100%;
    border-bottom: 3px solid;
}

/* TEXTE & TITRE */ 

h1{
    font-family: 'Poppins';
    text-align: left;
    font-size: 24px;
    font-weight: 500!important;
    color: #0D2A1D!important;
    border-radius: 10px;
    margin-bottom:50px;
    text-transform:uppercase;
}

h2{
    font-size: 18px!important;
    color: #06F8B8;

}

p {
    font-size: 14px;
}


/* Badge Users */

.bdg_user{
    width: 30px;
    height: 30px;
    background: #06F8B8;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;

    color: #FFFFFF;
}

/* Sidebar */
.project_sidebar{
    position: absolute;
    left: 6vw;
    top: 0;
    width: 180px;
    height: 100vh;
    background: #fafafa;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    list-style: none;
    padding-top: 100px;
    background: #fafafa;
}

.project_sidebar h2{
    color:#000;
}

.project_sidebar ul{
    list-style: none;
    padding-left: 1em;
}


/* Default CSS - FORM */

label{
    font-size: 14px;
    font-weight:500;
    width:100%;
    margin-top: 20px;
    text-align: left!important;
}

input,
textarea,
select{
    border:1px solid #e5e5e5;
    border-radius: 5px;
    width:100%;
    font-size: 14px;
    text-align: left;
    color:#111;
    padding: 10px 20px;
}

input[type="submit"]{
    width:45%;
    color:#06f8b8;
    text-align: center;
    text-align: left;
    background-color: #0D2A1D;
    font-weight: 600;
    letter-spacing: 2px;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid;
    border-bottom: 3px solid;
    border-radius: 5px;
    
    margin-bottom: 6px;
    width: 100%;
    
}

input[type="submit"]:hover{
    color:#fff;
    text-align: center;
    background-color: #06f8b8;
}

input[type="reset"]{
    text-align:center;
    width:45%;
    margin-right:10%;
}

/** Required + Disabled **/

.required{
    color:red;
    font-size: 12px;
}

.disabled {
    color: grey;
}