.App {
    text-align: center;
}

*{
    font-family: 'Lato','Manjari', arial;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    /*background-color: #fafafa;*/
    color: #282c34;
}

.main__content{
    width: 60vw;
    margin-left: 15vw;
    margin-top: 9vh;
}

.App-link {
    color: #6610f2;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/******** TEXTE - TITRE - LABEL ********/ 

    h1{
        text-align: left;
        font-size: 24px;
        font-weight: 400!important;
        line-height: 29px;
        color: #6610f2;
        border-radius: 10px;
        font-style: normal;
        letter-spacing: 0.3em;
        text-transform: uppercase;  
    }

    h2{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;

        letter-spacing: 0.3em;
        text-transform: uppercase;

        color: #363636;
    }

    h3{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;

        letter-spacing: 0.3em;

        color: #D7D7D7;
    }

    p {
        font-size: 12px;
    }

    label{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        margin-top: 20px;

        text-align: left;
        color: #000000;
        width:100%;
    }
/****** FIN TEXTE - TITRE - LABEL ******/
/*************** BOUTONS ***************/
.btn {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    width: 180px;
    height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-radius: 5px;
}

.primary_btn{
    color: #6610f2;
    background: none;
    border: 1px solid #6610f2;
}

.primary_btn:active{
    background: #6610f2;
    border:1px solid #6610f2;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.details_btn{
    text-transform: lowercase;
    text-transform: capitalize;
    background:#D1D1D1;
    color:#acacac;
    border: 1px solid #D1D1D1;
}

.details_btn:active{
    background-color: #6610f2;
    border: 1px solid #6610f2;
}

.alert_btn{
    background: linear-gradient(88.47deg, #FF2E2E 0.92%, #D01C1C 99.06%);
    border-radius: 101.5px;
}

.disabled{
    color:#D1D1D1;
    background: #F0F0F0;
    border: 1px solid #D1D1D1;
}

/* .links_btn,
.client_list {
    color: #6610f2;
    background: none;
    border: none;
    text-align: left;
    margin-bottom: 6px;
    width: 100%;
    font-size:12px;
}

.links_btn::before{
    content:'\25A0 ';
} */

.developer{
    background-color: #6610f2;
    color: #fff;
    text-align: center;
    padding: 3px 10px;
    line-height: 2em;
    border-radius: 45px;
    font-weight: 600;
    text-transform: uppercase;
    aspect-ratio: 1;
    font-size: 1rem;
    border: 3px solid #fff; 
    box-shadow: 2px 4px 4px rgba(0,0,0,.2);
}

.bold{
    font-weight: 600;
}

/* Badge Users */

.bdg_user{
    width: 30px;
    height: 30px;
    background: #6610f2;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Sidebar */
.project_sidebar{
    position: fixed;
    left: 64px;
    top: 0;
    width: 220px;
    height: 100vh;
    background: #fafafa;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    list-style: none;
    padding-top: 100px;
    background: #fafafa;
}

.project_sidebar ul{
    list-style: none;
    padding-left: 1em;
}

.modal__newTask{
    position: absolute;
    top: 0;
    margin: 0;
    border-radius: 0;
    padding: 10px;
    background: rgba(0,0,0,.35);
    width: 100vw;
    z-index: 999999;
    height: 100vh;
    left: 0;
}

/* Default CSS - FORM */

input,
textarea,
select{
    /*border:1px solid #e5e5e5;*/
    border:none;
    border-radius: 5px;
    width:100%;
    font-size: 12px;
    text-align: left;
    color:rgb(97, 97, 97);
    padding: 5px 10px;
    font-weight: 400;
}

input:hover{
    background: #e0e0e0;
    cursor:pointer;
}

input[type="submit"]{
    width:45%;
    color:#6610f2;
    text-align: center;
    background-color: #160531;
    font-weight: 600;
    letter-spacing: 2px;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid;
    border-bottom: 3px solid;
    border-radius: 5px;
    margin-bottom: 6px;
    width: 100%;
    
}

input[type="submit"]:hover{
    color:#fff;
    text-align: center;
    background-color: #6610f2;
}

input[type="reset"]{
    text-align:center;
    width:45%;
    margin-right:10%;
}

form #title{
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
    border: none;
}

/** Required + Disabled **/

.required{
    color:red;
    font-size: 12px;
}

svg {
    vertical-align: middle;
    font-size: 15px;
    color:currentColor!important;
    stroke: currentColor!important;;
}

/*********** FIN CSS FORM *************/
/**************************************/

@media screen and (max-width:756px) and (orientation: portrait) {
    .project_sidebar{
        position:fixed;
        bottom:8vh;
        width:100vw;
        height:11vh;
        top:inherit;
        padding:10px;
        left:0;
    }
}


.stats_account{
    background:#160531;
    width: 100%;
    color:#fff;
    border-radius: 15px;
}
