/* Sidebar */

.s-sidebar__nav {
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s ease-in;
    width: 64px;
    z-index: 9999;
    color: rgba(255, 255, 255, 0.7);
    height:100vh;
    background: #f7f7F7;
    border-right:1px dotted rgb(229, 228, 228);
}

.s-sidebar__nav p{
    font-size:9px;
}

#gen_settings img{
    width: 80%;
    text-align: left;
    margin-top:30px;
    margin-bottom:30px;
}

.NavBar {
    padding: 0px;
    margin: 0;
}

.NavBar h2{
    color:#212B36;
    text-align: center;
    text-transform: uppercase;
    font-size: 8px!important;
    font-weight:600;
}

.NavBar p{
    margin:0;
    padding:0;
}

.mobile{
    display:none;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus+.s-sidebar__nav,
.s-sidebar__trigger:hover+.s-sidebar__nav {
    left: 0;
}

.s-sidebar__nav ul li {
    width: 100%;
    margin-bottom: 5px;
    list-style: none;
}

.s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    color: #bbb;
    padding: 5px;
    font-size: 10px;
    line-height: 1.5em;
    text-align: center!important;
    text-decoration: none;
    vertical-align: middle!important;
    width:90%;
    margin-bottom:5px;
}

.s-sidebar__nav-link:hover,
.s-sidebar__nav-link:focus {
    color: #626262!important;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}

.active {
    color: #6610f2!important;
    background-color: #6710f232;
    border-radius: 5px;
}

.name{
    text-transform: capitalize;
}

.role{
    font-weight: 300;
    font-style: italic;
}

.settings_menu{
    position: absolute;
    bottom: 20px;
    left:4px;
}

/* Responsive Mobile */

@media screen and (max-width:756px) and (orientation: portrait) {
    .s-sidebar__nav {
        position: fixed;
        bottom: 0!important;
        top: inherit;
        width: 100vw;
        z-index: 9999;
        background-color: #ffffff;
        height: 70px;
        padding-top: 5px!important;
        box-shadow: -5px -5px 10px #cccccc;
        border-radius: 10px 10px 0px 0px;
    }
    .s-sidebar__nav-:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:focus+.s-sidebar__nav,
    .s-sidebar__trigger:hover+.s-sidebar__nav {
        left: inherit!important;
    }

    .s-sidebar__nav-link{
        padding: 20px 10px;
    }

    .s-sidebar__nav-link:hover,
    .s-sidebar__nav-link:focus {
        color: #626262!important;
        background-color: rgb(241, 241, 241);
        border-radius: 5px;
    }

    #gen_settings,
    .desktop,
    h2{
        display:none;
    }

    .admin__nav-link{
        border-left: 1px solid #ddd;        
    }

    .admin__viewall-link{
        border-right:1px solid #ddd;
    }

    .NavBar {
        background: none!important;
        min-width: 90vw;
        display: inline-flex;
        border: none;
        overflow: visible;
        text-align: center!important;
    }

    .NavBar a{
        text-align: center!important;
    }

    .settings_menu{
        position: inherit;
        bottom: inherit;
        left:inherit;
    }

    .desktop{
        display:none;
    }

    .mobile{
        display:block;
    }
}

