#adminForm{
     padding-top:9vh;
     margin-bottom: 200px;
}


#adminForm #title{
    border: none;
    border-bottom: 1px solid #ccc;
}

#timesheetForm{
     width: 45vw;
}

.row_submit{
     margin-top:50px;
}

@media screen and (max-width:756px) and (orientation: portrait) {
     #adminForm h1,
     #timesheetForm{
          margin-left:auto;
          margin-right:auto;
          width:90vw;
     }
}