#timesheetForm{
     width: 45vw;
}

#timesheetForm label{
     font-size: 12px;
}

#timesheetForm #title{
     border: none;
     font-size: 24px;
     font-weight: 600;
     padding: 5px 0px;
     
}

#Descr__label{
     border-top: 1px solid #eee;
     margin-top: 25px;
     padding: 25px 0;
}

.row_submit{
     margin-top:50px;
}

@media screen and (max-width:756px) and (orientation: portrait) {
     #timesheetForm{
          margin-left:auto;
          margin-right:auto;
          width:90vw;
     }
}