#HeureForm{
     background:#fff;
     width: 45vw;
}

@media screen and (max-width:756px) and (orientation: portrait) {

     #hourForm{
          margin:auto;
     }

     #hourForm h1,
     #HeureForm{
          margin-left:auto;
          margin-right:auto;
          width:100%;
     }
}