#HeureForm{
     background:#fff;
     width: 45vw;
}

@media screen and (max-width:756px) and (orientation: portrait) {

     .main__content{
          margin:auto;
          width:80vw;
     }

     #hourForm h1,
     #HeureForm{
          margin:auto;
          width:100%;
     }
}