/* Init CSS */
.resume,
.tableauTS,
.timesheet {
    background:#fff;
    border-radius: 15px;
    height: auto;
    margin: 10px;
    padding: 20px 30px;
}

/**********************************/
/*** Tableau tableauTS récentes ***/

.tableauTS{
    background: #fafafa;
    margin-bottom:50px;
}

.descr__thead{
    font-size: 12px;
    margin-bottom: 0;
}

.task_table{
    margin-bottom: 0px;
    text-align: left;
}

.tableauTask h2{
    text-align: left;
}

.tableauTask .last-child {
    text-align: right;
    padding: 20px 0;
    width: 200px;
}

.tableauTS table td {
    font-size: .8em!important;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: justify;
}

.line_task{
    border-bottom:1px solid #ddd;
}

.add_new_task{
    border: 1px solid;
    color: #bbb;
    float: left;
    width: 50%;
}

.stats p{
    color:#fff;
}

.tableauTS a {
    background: rgba(43,43,43,0.5);
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: .7em;
}

.btn_ts_bottom{
    background: #949494;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff!important;
    font-size: 11px;
    height: 35px;
    letter-spacing: 2px;
    padding: 2px 20px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn_ts_bottom:hover,
.btn_ts_bottom:focus{
    border: 2px solid #fff!important;
    background: #6610f2;
    color: #fff!important;
}

/*********************************/
/***** Timesheet ******/

.timesheet {
    height: auto;
    margin-left:0;
    width: 100%;
}

.timesheet li {
    list-style-type: none;
}

.col__timeToUse{
    width:200px;
}

.allowed_time{
    background: #6610f2;
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    text-align: center!important;
}

.date_creation{
    font-size:12px;
}

.timesheet thead {
    border-bottom: 1px solid #eee;
    line-height: 1em;
}

.timesheet tr {
    line-height: 1em;
}

.timesheet .time_hrs_right {
    color: #444;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

#modal_desktop{
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
    margin: auto;
    margin-top: 5vh;
    padding: 20px;
    width: 50vw;
}

.agent__{
    text-align:left;
}

.time_spend{
    text-align:right;
}

.detail_TS p{
    font-size: 12px;
    text-align:left;
}

.detail_TS .tasks{
    text-align:justify;
}

.close_modale{
    border: none;
    border-radius: 5px;
    float:right;
    font-size: 14px;
    margin-bottom: 10px;
    width: 25px;
}

.detail_TS .developer{
    width:45px;
}

#modal_mobile{
    display: none;
}

.descr__prjt{
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
}

.right_tabs--close_modale{
    vertical-align: top;
}

#displayMobile{
    display:none;
}

.modal__newTask .main__content{
    margin: auto;
    width:100%;
}

.modal__newTask .s-sidebar__nav{
    display:none;
}

.first_col_pjt{
    width:60px;
}

.modal__newTask .s-sidebar__nav,
.modal__newTask h1{
    display:none;
}

.statut_task{
    margin:0;
}

.statut_task .succeed,
.statut_task .failed,
.statut_task .inProgress{
    margin:0;
    width:130px;
}

.list_all_tasks .line_task .failed,
.list_all_tasks .line_task .success,
.list_all_tasks .line_task .inProgress{
    font-size: 0.7rem;
    padding: 5px 15px;
    width: 100%;
}

/* Responsive Mobile */
/*********************/

@media screen and (max-width:756px) and (orientation: portrait) {

    #displayMobile{
        background: #fff;
        display:block;
        height: 100vh;
        left:0;
        padding: 20px;
        position:fixed;
        top:0;
    }

    .task_table{
        min-width: 60px;
    }

    .line_task:first-child{
        padding-right:30px;
        width:150px;
    }

    .add_new_task{
        margin-top: 40px;
        width: 150px;
    }

    .stats{
        margin-top:50px;
    }
    
    .circular_stats{
        width:130px;
    }

    .circular_stats table p{
        text-align: right;
    }
    
    .circular_stats svg{
        stroke:none!important;
    }

    #page_dashboard{
        margin: auto!important;
        width: 90vw!important;
    }
    
    .resume,
    .stats,
    .tableauTS,
    .timesheet {
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(189, 229, 244, 0.4);
        height: auto;
        margin-bottom: 30px;
        min-width: 80vw;
        padding: 30px 10px;
    }

    .tableauTS{
        margin:0;
    }

    .resume{
        box-shadow: none;
    }

    .resume h1{
        font-size: 2em!important;
    }

    /*********************************/
    /*** Tableau tableauTS récentes ***/
    .tableauTS table {
        min-width: 90%;
    }
    /*********************************/
    /***** Timesheet ******/
    .timesheet {
        height: auto;
        margin-bottom: 200px;
        width: 100%;
    }

    #modal_desktop{
        display:none;
    }

    #modal_mobile{
        background: #fff;
        border-radius: 10px;
        display:block!important;
        margin-top: 50px;
        padding: 20px;
    }

    .hide_mobile{
        display:none;
    }

    .col_mobile_badge{
        background: linear-gradient(90deg, rgba(255,255,255,0.34919905462184875) 48%,
                                           rgba(231,231,231,1) 50%,
                                           rgba(255,255,255,0) 52%);
        margin-right:10px;
        min-width:60px;
        vertical-align:top;
    }

    .title_of_task{
        font-weight: 600;
        text-align: left;
    }

    .tasks{
        font-size:12px;
        font-style: italic;
        font-weight: 300;
        margin-top: 20px;
        text-align: justify;
        width: auto;
    }

    .dateoftask{
        line-height: 3em;
        text-align: left;
    }

    .prjt_lst{
        border-bottom: 1px solid #ddd; 
    }

    .prjt_lst .bdg_user{
        aspect-ratio: 1;
        font-size: 14px;
        height: 30px;
        padding: 5px;
        width:inherit;
    }

    .prjt_lst td{
        font-size: 12px;
        min-width: 15vw;
    }

    .prjt_lst button{
        background: #ddd;
        border: none;
        color: #999;
        border-bottom: 3px solid;
        margin: 13px 0px auto auto;
        width: 100px!important;
    }

    .title_prjt{
        text-align: left!important;
    }
}

