#page_recup .container {
    min-height: 100vh;
    min-width: 100vw!important;
}

.recup_form {
    padding-top: 20vh;
}

#mdpForm {
    background: #fff;
    border-radius: 20px;
    margin: auto;
    min-height: 30vh;
    padding: 40px;
    width: 60vw;
}

.recup_form a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#mdpForm label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
    min-width: 90%;
    text-transform: uppercase;
    width: 100%;
}

#mdpForm input[type="email"] {
    border: none;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px #BDE5F4;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 10px;
    padding: 5px 20px;
    text-align: center;
    width: 80%!important;
}

.thx_message{
    background: white;
    border-radius: 25px;
    margin: auto;
    padding: 50px;
    width: 40vw;
}

.thx_message h1{
    background: none;
    margin-bottom: 50px;
    text-transform:none;
}

.thx_message a{
    background: #6610f2;
    border-bottom: 4px solid #3f0b94;
    border-radius: 10px;
    margin-top: 80px;
    padding: 10px 30px;
    text-decoration: none;
}