#page_connexion .container {
    background: #fafafa!important;
    min-height: 100vh;
    min-width: 100vw!important;
}

.connexion_form {
    padding-top: 20vh;
}

.connexion_form a {
    color: #190933;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.connexion_form h1 {
    color: #fff;
    text-align: center;
}

#logForm {
    background: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #ffffff9b;
    margin: auto;
    min-height: 0;
    padding: 50px;
    width: 50vw;
}

#logForm label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
    min-width: 90%;
    text-transform: uppercase;
}

#logForm input[type="text"],
#logForm input[type="password"] {
    border: none;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px #00000026!important;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 10px;
    min-height:3em;
    min-width: 90%;
    padding: 5px 20px;
    text-align: center!important;
}

#logForm input[type="submit"] {
    background: #672bf2;
    border: 2px solid #672bf2;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    min-width: 60%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width:90%;
}

#logForm input[type="submit"]:hover,
#logForm input[type="submit"]:focus {
    background: #fff;
    border: 2px solid #6610f2;
    color: #6610f2;
}

.link {
    padding-top: 50px;
}

.link a {
    color: #672bf2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

a:hover,
a:focus{
    color: #672bf2;
}

.alert-warning,
.alert-danger {
    font-size: 16px;
    margin: auto;
    width: 40vw;
}

.logo_ahgency{
    margin-bottom:50px;
    width:250px;
}

/* Responsive Mobile */

@media screen and (max-width:756px) and (orientation: portrait) {

    .connexion_form {
        padding-top: 10vh;
    }

    #logForm label {
        text-align:left;
        text-transform: inherit;
    }

    #logForm {
        background: #fff;
        border-radius: 20px;
        box-shadow: 5px 5px 15px #e9e9e99b;
        margin: auto;
        min-height: 30vh;
        min-width: 90vw;
        padding: 20px;
    }
    .alert-warning,
    .alert-danger {
        width: 90vw;
    }
}